<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="content">
        <br>
        <p>
          <strong>Bushblade Projects</strong>
          is a platform for my projects and websites as I learn the technologies of web development.
        </p>
        <p>
          The server itself is part of that process, running on a
          <a href="https://www.linode.com/" target="_blank">Linode</a>
          virtual machine with an arch Linux install and remotely managed via ssh. It is currently running a
          <span class="strike">Apache/httpd</span>
          Node/ExpressJS server session with <a href="http://pm2.keymetrics.io/" target="_blank">PM2</a>
          and https secured with <a href="https://www.npmjs.com/package/greenlock-express" target="_blank">greenlock-express</a>
        </p>
      </div>
    </div>
  </div>
</div>