<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title">Bushblade Projects</h1>
          <h2 class="subtitle">The web development learning journey of Will Adams</h2>
          <i class="mfizz icon-html5"></i>
          <i class="mfizz icon-css3"></i>
          <i class="mfizz icon-javascript"></i>
          <i class="fab fa-linux fa-lg"></i>
          <i class="fab fa-linode fa-lg"></i>
          <i class="mfizz icon-git"></i>
          <i class="mfizz icon-apache"></i>
          <i class="mfizz icon-nodejs"></i>
          <i class="mfizz icon-reactjs"></i>
        </div>
        <div class="column is-one-third"></div>
      </div>
    </div>
  </div>
</section>