{{> _profile}}
<!-- about -->
{{> _about}}
<!-- lists -->
<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="columns">
        <!-- projects -->
        <div class="column is-one-half">
          <h5 class="is-size-5 has-text-weight-semibold">Projects</h5>
          <hr>
          <ul>
            <li>
              <a href="https://optimistic-jepsen-47cfb2.netlify.com/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                React JS To Do App
              </a>
            </li>
            <li>
              <a href="https://quirky-khorana-481a40.netlify.com/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Vue JS Quotes Exercise
              </a>
            </li>
            <li>
              <a href="flexBoxGallery/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Simple Flexbox Gallery
              </a>
            </li>
            <li>
              <a href="intervalTimer/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Interval Timer
              </a>
            </li>
            <li>
              <a href="calculator/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Calculator
              </a>
            </li>
            <li>
              <a href="taskList/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Task List
              </a>
            </li>
            <li>
              <a href="randomPonyName/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                MLP Name Generator
              </a>
            </li>
            <li>
              <a href="secretSanta/">
                <span class="icon">
                  <i class="fas fa-lg fa-folder"></i>
                </span>
                Secret Santa Generator
              </a>
            </li>
          </ul>
        </div>
        <!-- websites -->
        <div class="column is-one-half">
          <h5 class="is-size-5 has-text-weight-semibold">Websites</h5>
          <hr>
          <ul>
            <li>
              <a href="https://www.bushblade.co.uk/">
                <span class="icon">
                  <i class="fa-lg fas fa-external-link-square-alt" aria-hidden="true"></i>
                </span>
                Bushblade Knives
              </a>
            </li>
            <li>
              <a href="http://www.louadamsphotography.com/">
                <span class="icon">
                  <i class="fa-lg fas fa-external-link-square-alt" aria-hidden="true"></i>
                </span>
                Lou Adams Photography
              </a>
            </li>
            <li>
              <a href="http://www.westyorkshirebushcraft.co.uk/">
                <span class="icon">
                  <i class="fa-lg fas fa-external-link-square-alt" aria-hidden="true"></i>
                </span>
                West Yorkshire Bushcraft
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>