html {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 2rem;
  background-color: hsl(0, 0%, 96%);
  height: 100vh;
}

.checked {
  text-decoration: line-through;
  color: hsl(0, 0%, 71%);
}

#cancelBtn,
#confirmBtn {
  display: none;
}

#okBtn {
  display: inline-block;
}

/* fix for bulma columns padding issue */

.columns {
  margin: 0;
}